/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {
  background-color: antiquewhite;
  margin:10px;
  padding:10px;
}

input{
  border:2px solid #000;
  margin-bottom: 2%;

}
lable{
  margin: 50px;
}

.todoList2{
  border:2px solid red;
  min-height: 150px;
}
.todoList2 h1{
  color:red;
}