/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {
  background-color: antiquewhite;
  margin:10px;
  padding:10px;
}

input{
  border:2px solid #000;
  margin-bottom: 2%;

}
lable{
  margin: 50px;
}

.todoList2 {
display:flex;
justify-content: center;
align-items: center;
min-height:100vh;
background-color: #282c34;
color:white;

  h1 {
    color: red;
  }
}